/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

/* The whole bar */

/* Every modules */

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

/* #pulseaudio.muted { */
/*     color: #ff4499; */
/* } */
/**/

/* #pulseaudio.microphone.muted { */
/*     color: #ff4499; */
/* } */

* {
    font-size: 14px;
    font-family: JetBrainsMono Nerd Font, Font Awesome, sans-serif;
    font-weight: bold;
}
window#waybar {
    background-color: rgba(28,28,28,0);
    border-bottom: 1px solid rgba(28,28,28,0);
    border-radius: 0px;
    color: #c43060;
}
#workspaces {
    background: linear-gradient(180deg, #282828, #3a3a3a);
    margin: 5px;
    padding: 0px 1px;
    border: 2px solid #665c54;
    border-radius: 15px;
    font-style: normal;
    color: #505050;
}
#workspaces button {
    padding: 0px 4px;
    margin: 4px 4px;
    border-radius: 15px;
    /* border: 0px; */
    color: #fabd2f;
    background-color: #282828;
    opacity: 1.0;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    color: #282828;
    background: #b8bb26;
    border-radius: 15px;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}
#workspaces button:hover {
    color: #fabd2f;
    background: #8ec07c;
    border-radius: 15px;
    opacity: 1.0;
}
tooltip {
  background: #282828;
  border: 1px solid #fabd2f;
  border-radius: 10px;
}
tooltip label {
  color: #b8bb26;
}
#window {
    color: #b8bb26;
    background: #282828;
    border-radius: 0px 15px 50px 0px;
    margin: 5px 5px 5px 0px;
    padding: 2px 20px;
    border: 2px solid #665c54;
}
#memory {
    color: #fb4934;
    background: #282828;
    border-radius: 15px 50px 15px 50px;
    margin: 5px;
    padding: 2px 20px;
    border: 2px solid #665c54;
}
#clock {
    color: #8ec07c;
    background: #282828;
    border-radius: 15px 50px 15px 50px;
    margin: 5px;
    padding: 2px 20px;
    border: 2px solid #665c54;
}
#idle_inhibitor {
    color: #ffcc1b;
    background: #282828;
    border-radius: 50px 15px 50px 15px;
    margin: 5px;
    padding: 2px 20px;
    border: 2px solid #665c54;
}
#cpu {
    color: #fabd2f;
    background: #282828;
    border-radius: 50px 15px 50px 15px;
    margin: 5px;
    padding: 2px 20px;
    border: 2px solid #665c54;
}
#disk {
    color: #83a598;
    background: #282828;
    border-radius: 15px 50px 15px 50px;
    margin: 5px;
    padding: 2px 20px;
    border: 2px solid #665c54;
}
#battery {
    color: #ff5a67;
    background: #282828;
    border-radius: 15px;
    margin: 5px;
    padding: 2px 20px;
    border: 2px solid #665c54;
}
#network {
    color: #f08e48;
    background: #282828;
    border-radius: 50px 15px 50px 15px;
    margin: 5px;
    padding: 2px 20px;
    border: 2px solid #665c54;
}
#tray {
    color: #a1a19a;
    background: #282828;
    border-radius: 15px 0px 0px 50px;
    margin: 5px 0px 5px 5px;
    padding: 2px 20px;
    border: 2px solid #665c54;
}
#pulseaudio {
    color: #8ec07c;
    background: #282828;
    border-radius: 50px 15px 50px 15px;
    margin: 5px;
    border: 2px solid #665c54;
    padding: 2px 20px;
}
#custom-notification {
    color: #14747e;
    background: #282828;
    border-radius: 15px 50px 15px 50px;
    margin: 5px;
    padding: 2px 20px;
    border: 2px solid #665c54;
}
#custom-themeselector {
    border: 2px solid #665c54;
    color: #5dd7b9;
    background: #282828;
    border-radius: 15px 50px 15px 50px;
    margin: 5px;
    padding: 2px 20px;
}
#custom-wallpaper {
    border: 2px solid #665c54;
    color: #5dd7b9;
    background: #282828;
    border-radius: 50px 15px 50px 15px;
    margin: 5px;
    padding: 2px 20px;
}
#custom-startmenu {
    color: #fb4934;
    background: #282828;
    border-radius: 50px 15px 50px 15px;
    margin: 5px;
    border: 2px solid #665c54;
    padding: 2px 20px;
}
#idle_inhibitor {
    color: #f08e48;
    background: #282828;
    border-radius: 15px 50px 15px 50px;
    margin: 5px;
    border: 2px solid #665c54;
    padding: 2px 20px;
}
